.App {
  text-align: center;
}

.AppLoading {
  align-items: center;
  min-height: 100vh;
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
  opacity: 0.7;
}

.AppLoadingIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #c0c0c0;
}

.App-logo {
  height: 40vmin;
}

.AppBody {
  background-color: #d5dbdb;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.boxBody {
  text-align: center;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.boxOver {
  text-align: center;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;

  background-color: white;
  color: black;
  width: 80%;
  top: 8%;
  left: 10%;
  height: 20%;
  border-radius: 10px;

  -webkit-box-shadow: 7px 7px 7px 0px #777;
  -moz-box-shadow: 7px 7px 7px 0px #777;
  box-shadow: 7px 7px 7px 0px #777;
}

.boxContainerMenu {
  text-align: center;
  color: white;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;

  
  position: absolute;
  color: black;
  width: 90%;
  top: 35%;
  left: 5%;
  height: 60%;
}

.boxContainerMenu .menu {
  background: white;
  padding: 5px;
  width: 35%;
  height: 35%;
  margin:5px;
  
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 7px 7px 7px 0px #777;
  -moz-box-shadow: 7px 7px 7px 0px #777;
  box-shadow: 7px 7px 7px 0px #777;

}

.App-header {
  background-color: #f2f4f4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body .App {
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}
